.quote {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
  max-width: 962px;
  margin: 0 auto;
}

.quote label {
  font-weight: 400;
}
@media (min-width: 769px) {
  .quote {
    flex-direction: row;
    align-items: start;
  }
}
.intro{
  text-align: center;
  padding: 1rem;
}
.intro p{
  margin-bottom: 1rem;
  font-size: 16px;
}
h2{
  text-align: center;
  font-size: 3rem;
}
form{
  padding: 1rem;
}
/*.field{*/
input[type="text"],textarea {
  padding: 0.25rem 0.5em;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.field-name{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

@media (min-width: 769px) {
  .field-name {
    flex-direction: row;
    gap: 1.5rem;
  }
  .intro{
    text-align: left!important;
  }
}

.required:after {
  content:" *";
  color: red;
}


