.button {
    padding: .5rem 1rem;
    margin: 1rem;
    border-radius: 5px;
    border: none;
    transition: all 0.5s;
}

.button.active {
    background-color: blue;
    color: #fff;
}

.button:hover {
    cursor: pointer;
    color: #fff;
    background-color: blue;
}

.button:disabled {
    cursor: not-allowed;
}