.contact {
  max-width: 800px;
  margin: 0 auto;
}
.contact-wrap {
  margin-bottom: 20px;
  padding: 6% 20px;
  background-image: url("../images/contact-bkg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: scroll;
  background-size: cover;
}
.contact-link a:hover {
  color: #e37d00;
}
