/* ---------- Main-Nav ------------ */

header {
  width: 1140px;
  margin: 0 auto;
  display: table;
}
@media (max-width: 1199px) {
  header {
    width: 95%;
  }
}
nav {
  /*position: sticky;*/
  /*top: 0;*/
}


.main-nav ul li a {
  font-size: 18px;
  line-height: 26px;
  font-weight: 200;
  color: #3c4858;
  font-family: 'Ubuntu Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}


.main-nav ul li.current_page_item a,
.main-nav ul li a:hover {
  color: #e37d00;
  /*border-bottom: none!important;*/
}

.main-nav ul li a.active {
  color: #e37d00;
  border-bottom: 1px solid #e37d00;
}
.main-nav ul li:has(li a.active) {
  color: #e37d00;
}

/*.main-nav ul li a:not(.active):hover {*/
/*   color: green;*/
/*}*/

@media screen and (min-width:1000px){
  .main-nav ul {
    margin: 0;
  }

  .main-nav ul li {
    display:inline-block;
    margin-right: 15px;
    transition:all 0.3s ease-in-out;
    font-family: 'Ubuntu Sans', sans-serif;
    text-transform: uppercase;
  }

  .main-nav ul li:hover .sub-menu {
    height: 138px;
  }

  .main-nav ul li .sub-menu {
    overflow: hidden;
    position: absolute;
    width:180px;
    height: 0;
    line-height: 40px;
    transition: height 0.3s ease-in-out;
    transition-delay: 0.1s;
    z-index:99;
    padding-left: 0;
    background: #ffffff !important;
    border-radius: 3px;
    box-shadow: 3px 3px 10px #dadada;
  }
  .main-nav ul li .sub-menu li{
    display: block;
    margin: 0;
    padding: 0 0 0 10px;
  }
  .main-nav ul li .sub-menu a{
    text-transform: capitalize !important;
  }
  .main-nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    position: relative;
  }
  .icon-menu {
    display: none!important;
  }
}

@media screen and (max-width:999px){
  .main-nav>ul{
    display: none;
  }
  .main-nav .open {
    display: flex;
    flex-direction: column;
    align-items: start;

  }
  .main-nav ul {
    /*transition: all ease-in-out .3s;*/
    /*display: none;*/
  }
  .main-nav ul {
    list-style: none;
  }
  .main-nav ul li {
    padding: 8px !important;
  }
   .main-nav ul li a {
    text-transform: none;
  }
   .main-nav .sub-menu {
     display: flex;
     flex-direction: column;
     justify-content: end;
     margin-left: 30px;
   }
   /*.icon-menu{*/
   /*  position: fixed;*/
   /*  display: flex;*/
   /*  align-items: start;*/
   /*  background: #ededed;*/
   /*  padding: 20px;*/
   /*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
   /*}*/

}
@media (hover: none) {
  .main-nav ul li a:hover {
    /*color: var(--color-gray)!important;*/
  }
}

@media screen and (max-width: 349px) {
  .main-nav ul ul{
    list-style: circle;
  }
}

/* Toggle button */

.icon-menu {
  display: block;
  position: relative;
  padding: 24px 15px;
  background-color: inherit;
  cursor: pointer;
  z-index: 7;
}

.icon-menu:hover:before, .icon-menu:hover:after, .icon-menu:hover span {
  background-color: #e37d00;
}

.icon-menu span, .icon-menu:before, .icon-menu:after {
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #888;
  transition: all 0.3s ease 0s;
}

.icon-menu:after {
  bottom: 14px;
}
.icon-menu:before {
  top: 14px;
}
.icon-menu span {
  top: calc(50% - 0.5px);
}

@media (hover: none) {
  .icon-menu:hover:before, .icon-menu:hover:after, .icon-menu:hover span {
    background-color: #888;
  }
}

.icon-menu.active span {
  transform: scale(0);
}
.icon-menu.active:before {
  transform: rotate(-45deg);
  top: calc(50% - 0.5px);
}
.icon-menu.active:after {
  transform: rotate(45deg);
  top: calc(50% - 0.5px);
}


.toggle-search {
  display: flex;
  align-items: center;
}
