.footer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}
footer .social svg {
  fill: #888888;
  width: 25px;
  transition: fill ease-in-out 0.3s ;
}
footer .social svg:hover {
  fill: #e37d00;
}
@media screen and (max-width: 999px) and (min-width: 769px) {
  footer {
    grid-template-columns: auto auto auto !important;
    gap: 1rem 2rem !important;
  }
  footer .copyright {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  footer {
    grid-template-columns: auto auto !important;
    gap: 1rem 2rem !important;
  }
  footer .quote {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
  footer .copyright {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media screen and (max-width: 479px) {
  footer {
    grid-template-columns: auto !important;
    gap: 1rem !important;
  }
  footer .quote {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
  }
  footer .copyright {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  footer .social {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}

